/*Заголовок:

синий цвет
толщина шрифта - 400
размер шрифта - 42 пикселя

Абзац:
почти чёрный цвет (#222)
шрифт без засечек (sans-serif)
размер шрифта - 16 пикселей
высота строки - 24 пикселя

Цитата:
то же самое, что и у абзаца и:
курсив
синий цвет (как у заголовка)
размер шрифта - 24 пикселя
*/

h1 {
    font: size 42px;
    color: blue;
    font-weight: 400;
}

p, blockquote {
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
}

blockquote {
    font-style: italic;
    color: blue;
    font-size: 24px;
}